@import "/src/theme/variables.scss";
.Error401{
    background:url("/assets/img/Error401.png");
    height:300px;
    width:100%;
    margin-top: 25%;
    margin-top: 25%;
    background-position: center;
    background-size: 100% 100%;
}