<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div id="container">
    <div class="curvy-div2"></div>
    <div class="curvy-div">
      <div class="authAction">
        <button [routerLink]="['/registration']" expand="block" class="regSubmitBTN signon">Register</button>
        <h2 class="alreadyUser">Or</h2>
        <button (click)="openLoginModal()" expand="block" class="regSubmitBTN signin">Sign In</button>
      </div>
    </div>
  </div>
</ion-content>
