<ion-header>
  <ion-toolbar>
    <ion-title>Success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="dots"></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="registrationSuccess">

    <div class="success-icon">
      <img src="/assets/img/success.gif" alt="Success">
    </div>

    <div class="successinstructions">
      <h2>Account ready</h2>
      <p>Your Suga account has been created successfully.</p>

      <ion-button
        expand="block"
        class="successBTN"
        [disabled]="isContinuing"
        (click)="continue()">
        {{ ctaLabel || 'Continue to My Profile' }}
      </ion-button>
    </div>

  </div>

</ion-content>
