<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registration"></ion-back-button>
    </ion-buttons>
    <ion-title>Dispatch Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding dispatch-registration-content">
  <form [formGroup]="registrationForm" (ngSubmit)="submit()" class="dispatch-form">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input type="tel" formControlName="phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">PIN / Password</ion-label>
      <ion-input type="password" formControlName="pin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Country</ion-label>
      <ion-select formControlName="country" interface="popover" placeholder="Select country" (ionChange)="onCountryChange()">
        <ion-select-option *ngFor="let c of countryOptions" [value]="c">{{ c }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isFieldActive('region') && isSelectField('region')">
      <ion-label position="stacked">{{ getFieldLabel('region', 'Region') }}</ion-label>
      <ion-select formControlName="region" interface="popover" (ionChange)="onRegionOrStateChange()">
        <ion-select-option *ngFor="let region of regions" [value]="region">{{ region }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isFieldActive('region') && !isSelectField('region')">
      <ion-label position="stacked">{{ getFieldLabel('region', 'Region') }}</ion-label>
      <ion-input formControlName="region"></ion-input>
    </ion-item>

    <ion-item *ngIf="isFieldActive('state') && isSelectField('state')">
      <ion-label position="stacked">{{ getFieldLabel('state', 'State') }}</ion-label>
      <ion-select formControlName="state" interface="popover" (ionChange)="onRegionOrStateChange()">
        <ion-select-option *ngFor="let state of states" [value]="state">{{ state }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isFieldActive('state') && !isSelectField('state')">
      <ion-label position="stacked">{{ getFieldLabel('state', 'State') }}</ion-label>
      <ion-input formControlName="state"></ion-input>
    </ion-item>

    <ion-item *ngIf="isFieldActive('city') && isSelectField('city')">
      <ion-label position="stacked">{{ getFieldLabel('city', 'City') }}</ion-label>
      <ion-select formControlName="city" interface="popover" (ionChange)="onCityChange()">
        <ion-select-option *ngFor="let city of cities" [value]="city">{{ city }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isFieldActive('city') && !isSelectField('city')">
      <ion-label position="stacked">{{ getFieldLabel('city', 'City') }}</ion-label>
      <ion-input formControlName="city"></ion-input>
    </ion-item>

    <ion-item *ngIf="isFieldActive('suburb') && isSelectField('suburb')">
      <ion-label position="stacked">{{ getFieldLabel('suburb', 'Suburb') }}</ion-label>
      <ion-select formControlName="suburb" interface="popover">
        <ion-select-option *ngFor="let suburb of suburbs" [value]="suburb">{{ suburb }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isFieldActive('suburb') && !isSelectField('suburb')">
      <ion-label position="stacked">{{ getFieldLabel('suburb', 'Suburb') }}</ion-label>
      <ion-input formControlName="suburb"></ion-input>
    </ion-item>

    <ion-item *ngIf="isFieldActive('street')">
      <ion-label position="stacked">{{ getFieldLabel('street', 'Street') }}</ion-label>
      <ion-input formControlName="street"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Registering as a company</ion-label>
      <ion-toggle formControlName="isCompany"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Company Name (optional)</ion-label>
      <ion-input formControlName="companyName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Vehicle Types (comma separated)</ion-label>
      <ion-input formControlName="vehicleTypes" placeholder="bike, car, van"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Vehicle Plate Number (optional)</ion-label>
      <ion-input formControlName="plateNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Operating Areas (comma separated)</ion-label>
      <ion-input formControlName="operatingAreas" placeholder="Ikeja, Surulere"></ion-input>
    </ion-item>

    <ion-button class="regSubmitBTN dispatch-submit" expand="block" type="button" [disabled]="isSubmitting" (click)="submit()">
      Create Dispatch Account
    </ion-button>
  </form>
</ion-content>
