<ion-content [fullscreen]="true">
  <div class="container">
    <div class="success-icon">
      <img src="/assets/img/success.gif">
      </div>
      <br>
      <br>
    <div class="greetings-profile">
      <h2>Congratulations!<br>You have succesfuly added a new dish to your food menu </h2>
    </div>
  <div class="sucessAction" (click)="viewMenu()">
   <div>
    <span>
       View Your Menu
    </span>
   </div>
   <div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
    </div> 
  </div>
  
  </div>
</ion-content>
